.container {
    padding: 100px 20px 100px 20px;
    margin: auto;
    width: 10%;
    text-align: center;
}

html {
    background-color: rgb(100, 100, 100);
}

button {
    background-color: rgba(100, 100, 100, 0.1);
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    border: none;
    color: white;
}

input {
    color: white;
}

.formClass {
    margin: auto;
    width: 90%;
    color: red;
    border: 1px solid black;
}